/* the whole main container */
.view-product-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
}

/* product-info-container */
.product-info-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.product-info-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

/* the container of buttons (add,edit,delete) */
.product-info-container .btn-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.btn {
  padding: 15px 50px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bolder;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

/* delete btn */
.delete-btn {
  background-color: red;
}

/* btn edit product */
.btn.edit-product {
  background-color: var(--highlight-color);
  color: black;
}

/* product name */
#product-name-txt {
  font-size: 1.5em;
  font-weight: lighter;
}

/* category */
#product-category-txt {
  font-size: 1em;
}

/* price */
#product-price-txt {
  color: var(--red-color);
  font-size: 2.5em;
}

/* product image */
.view-product-container img {
  width: 100%;
  max-width: 450px;
  max-height: 400px;
  object-fit: cover;
  padding: 10px 10px;
  border-radius: 15px;
  animation: scale-in-animation 1.6 ease-in-out;
}

/********* DESCRIPTION CONTAINER ***********/
.description-container {
  padding: 10px 10px;
  min-height: 400px;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #e3e3e3;
}
.description-container .title {
  font-size: 3em;
  margin-bottom: 1em;
}
